/*custom styles*/
body{
	font-family: 'Laila', serif;
	background-color: #e0e0e0;
	padding: 0px 30px;
}
a.shield {
	margin: 10px;
}
div.navbar-default .navbar-collapse {
	padding: 80%;
}
div.mainpart {
	text-align: center;
}
div.column-sm-8mainpart{
	width:100%;
}
.responsive-image1 {
        width: 720px;
        max-width: 100%;
        height: auto;
}

div.thumbnails{
	padding-left: 50px;
	padding-right: 50px;
}
nav.navbar-default{
	margin-left: 30px;
	margin-right: 30px;
	background-color: white;
	box-shadow: 0px 10px 10px grey;
}

div.containerbody{
	background-color: white;
}
table.games {
	display: inline-block;
  	margin-right: 100px;
  	vertical-align: top;
}
div.stats-boxhalf {
	display: inline-block;
}
table.log{
	width: 100%;
}
table.stats {
	width: 100%
}
